<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="finotek.global.dev.brazil">
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false"/>

    <application
        android:name="finotek.global.dev.brazil.app.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="BrazilCheck"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup,android:label">
        <activity
            android:name="finotek.global.dev.brazil.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="finotek.global.dev.brazil.user.UserRegistrationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="finotek.global.dev.brazil.user.sign.SignRegistrationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity
            android:name="finotek.global.dev.brazil.user.profile.CaptureProfilePicActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="finotek.global.dev.brazil.user.PinRegistrationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="finotek.global.dev.brazil.user.PinChangeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="finotek.global.dev.brazil.user.credit.CreditRegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="finotek.global.dev.brazil.setting.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="finotek.global.dev.brazil.setting.SettingDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="finotek.global.dev.brazil.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        </activity>
        <activity
            android:name="finotek.global.dev.brazil.chat.ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="FinoBank"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name="finotek.global.dev.brazil.chat.TransactionViewMoreActivity">
        </activity>
        <activity android:name="com.finotek.finocr.activity.RecogCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <service
            android:name="finotek.global.dev.brazil.TalkBankMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="finotek.global.dev.brazil.TalkBankInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="finotek.global.dev.brazil.chat.messages.context.ContextLogService">
            <intent-filter>
                <action android:name="chat.message.context.ContextLogService"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-lwG0vNzb1VEzdM2EsMpqIU8cSUoK4TQ"/>
    </application>

</manifest>