<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="finotek.global.dev.talkbank_ca">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".user.UserRegistrationActivity">
        </activity>
        <activity android:name=".user.sign.SignRegistrationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".user.profile.CaptureProfilePicActivity">
        </activity>
        <activity android:name=".user.PinRegistrationActivity">
        </activity>
        <activity android:name=".user.credit.CreditRegistrationActivity" />
        <activity android:name=".setting.SettingsActivity" />
        <activity android:name=".setting.SettingDetailActivity"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            />

        <activity android:name=".chat.ChatActivity"
                  android:label="톡뱅">

        </activity>
    </application>
</manifest>